@import nib
@import constants

.content
  width: 100%
  margin-top: navHeight

  .splash-photo
    width: 100%
    height: 311px  // 500px

    // Remove
    background-color: #f6f6f6
    text-align: center
    padding-top: 289px

  .section
    width: 700px
    padding: 50px 20px
    margin: 0 auto
    height: 350px

    border-bottom: 2px solid #DDD

    &:last-child
      border-bottom: 0

    > a[name]
      display: block
      margin-bottom: navHeight + 10

.wrap
  margin-top: 40px

  p
    font-weight: bold
    color: #800000
    text-align: center

  .title
    font-size: 30px

  .countdown
    font-size: 20px