@import nib
@import constants

html, body
  height: 100%

body
  background-color: bgColor

::selection
  background: #999

.content
  width: 100%
  margin-top: navHeight
  font-family: Gilda Display, Helvetica, Arial, sans-serif
  font-weight: bold

  .splash-photo, .name-and-date, .decoration
    width: 100%
    text-align: center

  .splash-photo
    padding: 30%
    width: 40%
    overflow: hidden
    position: relative

    img
      position: absolute
      top: -10%
      left: 0
      width: 100%

  .name-and-date
    height: 100px
    padding: 5px
    background-color: nameAndDate
    color: maroon
    text-align: center

    p:first-child
      font-weight: bold
      font-size: 25px
      line-height: 10px

  .decoration
    height: 15px
    background-color: decoration

  > a[name]
    display: block
    margin-bottom: navHeight + 10

  .section
    position: relative
    width: 700px
    padding: 10px 50px 90px
    margin: 0 auto
    min-height: 285px

    border-bottom: 2px solid #DDD

    &:last-child
      border-bottom: 0

    ul
      list-style: none
      margin: 0 0 20px
      padding: 0

      h3
        font-weight: bolder

      li
        padding: 10px 0

    div
      display: inline-block

      &.desc
        position: absolute
        margin-left: 20px
        width: 550px

        p
          line-height: 1.5
          margin-top: 0

      &.pic
        overflow: hidden
        border-radius(75px)

        img
          width: 150px
          height: 150px

      // Do some manual overrides to get the picture centered
      &.bash
        margin-top: 25px

.wrap
  margin-top: 40px

  p
    font-weight: bold
    color: #800000
    text-align: center

  .title
    font-size: 30px

  .countdown
    font-size: 20px

.registries
  a, a:hover, a:visited
    color: blue
    text-decoration: none
    display: block
    margin-bottom: 10px
