@font-face
  font-family: 'Domine'
  font-style: normal
  font-weight: 400
  src: local('Domine'), local('Domine-Regular'), url(/static/fonts/domine_regular.woff) format('woff')

@font-face
  font-family: 'Raleway Dots'
  font-style: normal
  font-weight: 400
  src: local('Raleway Dots'), local('RalewayDots-Regular'), url(/static/fonts/railway_dots.woff) format('woff')

@font-face
  font-family: 'Gilda Display'
  font-style: normal
  font-weight: 400
  src: local('Gilda Display'), local('GildaDisplay-Regular'), url(/static/fonts/gilda_display.woff) format('woff')
