@import constants

@media (max-width: 700px)
  body
    .nav
      height: 130px
    .content
      margin-top: navHeight + 50px

@media (max-width: 430px)
  body
    .nav
      height: 180px
    .content
      margin-top: navHeight + 100px