@import nib

navHeight = 80px
navFontColor = #FFF

.nav
    position: fixed
    top: 0
    left: 0
    z-index: 100

    width: 100%
    height: navHeight

    background-color: #1B1B1B
    background: linear-gradient(top, #111, #232323)
    box-shadow(1px 0 15px #999)

    .nav-options
        width: 100%
        height: navHeight - 10
        margin: 0 auto 5px

        ul
            list-style: none
            padding: 0
            margin: 12px
            text-align: center

            li
                display: inline-block
                padding: 15px
                font-size: 1.1em
                width: 100px

                a
                    transition(0.4s color)
                    font-family: Domine, Helvetica, Arial, sans-serif

                    &, a:visited
                        color: navFontColor

                    &:hover
                        color: darken(#e1e1e1, 10%)

                    &, a:visited, a:hover
                        text-decoration: none

.content
    width: 100%
    margin-top: navHeight

    .splash-photo
        width: 100%
        height: 311px  // 500px

        // Remove
        background-color: #f6f6f6
        text-align: center
        padding-top: 289px

    .section
        width: 700px
        padding: 50px 20px
        margin: 0 auto
        height: 350px

        border-bottom: 2px solid #DDD

        &:last-child
            border-bottom: 0

        > a[name]
            display: block
            margin-bottom: navHeight + 10

.wrap
    margin-top: 40px

    p
        font-weight: bold
        color: #800000
        text-align: center

    .title
        font-size: 30px

    .countdown
        font-size: 20px
